//
   Created by Benoit on 02/05/2017.

ng-controller(ng-controller='NymerusAdministrationCtrl')
    nymerusadministrationmanager(class='administration-manager')

        div(class='container-administration-table', autoheight, substractvalue='60')

        div(class='container-administration-form', autoheight, substractvalue='60')

            form(name='adminForm', ng-submit='update()', novalidate)

                div(class='profile-manager-box-item-hovering create-user-success')
                    span() A temporary password has been generated : {{ tPassword }}

                div(class='form-group has-feedback profile-manager-box-item-hovering',
                ng-class='{ "has-error": adminForm.email.$invalid && adminForm.email.$dirty }')
                    input(server-error, class='form-control input-lg', type='text', id='email', name='email',
                    placeholder='E-Mail', ng-model='email', ng-keyup='resetInvalidity("email", $event)')
                    span(class="ion-at form-control-feedback")
                    div(class="help-block", ng-if="adminForm.email.$dirty", ng-messages="adminForm.email.$error",
                    ng-show="adminForm.email.$invalid && adminForm.email.$touched")
                        div(ng-message="server")
                            p {{errorMessage.email}}


                div(class='form-group has-feedback profile-manager-box-item-hovering',
                ng-class='{ "has-error": adminForm.login.$invalid && adminForm.login.$dirty }')
                    input(server-error, class="form-control input-lg", type="text", id="login", name="login",
                    ng-model="login", placeholder="Login", ng-keyup="resetInvalidity('login', $event)")
                    span(class="ion-compose form-control-feedback")
                    div(class="help-block", ng-if="adminForm.login.$dirty", ng-messages="adminForm.login.$error",
                    ng-show="adminForm.login.$invalid && adminForm.login.$touched")
                        div(ng-message="server")
                            p {{errorMessage.login}}


                div(class='profile-manager-box-item-hovering')
                    button(type='submit', class='btn btn-block btn-primary', ng-disabled="adminForm.$invalid").
                        {{button_text}}

            div(class='profile-manager-box-item-hovering admin-on-user-panel')
                button(class='btn btn-block btn-danger', ng-click='resetPassword()').
                    Reset {{login}} password

            div(class='profile-manager-box-item-hovering admin-on-user-panel')
                button(class='btn btn-block btn-danger', ng-click='deleteAccount()').
                    Delete {{login}} account